.helpPage {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90svw;
    margin-top: 30px;
}

.sectionTitle {
    font-size: 30px;
    font-weight: bold;
    color: lightseagreen;
}

.rule {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
}

.ruleTitle {
    font-size: 24px;
    font-weight: bold;
    color: lightcoral;
    width: 13%;
}

.ruleText {
    font-size: 18px;
    font-weight: normal;
    align-items: start;
    color: #333333;
    width: 100%;
}

.bodyText {
    font-size: 18px;
    font-weight: normal;
    align-items: start;
    color: #333333;
    text-indent: 60px;
}

.helpSubSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}
