.statusSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60%;
    margin-top: 80px;
    margin-bottom: 40px;
}

.turn {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: dimgray;
    margin-bottom: 20px;
}

.scoreSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.scoreComponent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.scoreLabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: dimgray;
}

.score {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: dimgray;
}